<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>
<script type="text/javascript">
  window.userProfileURL = "<%= image_url('user-symbol.png') %>";
  window.angleArrowDown = "<%= image_url('angle-arrow-down.png') %>";
  window.hamburgerIcon = "<%= image_url('hamburger-icon.png') %>";
  window.mochiIcon = "<%= image_url('mochi-profile.png') %>";
  window.addVideoIcon = "<%= image_url('add-video-icon.png') %>";
  window.appsIcon = "<%= image_url('apps-icon.png') %>";
  window.notificationIcon = "<%= image_url('notification-icon.png') %>";
  window.blueUserIcon = "<%= image_url('blue-user-icon.png') %>";
  window.youtubeIcon = "<%= image_url('youtube-icon.png') %>";
  window.vidtube = "<%= image_url('vidtube.png') %>";
  window.signOutIcon = "<%= image_url('sign-out-icon.png') %>";
  window.accountPic = "<%= image_url('account-pic.svg') %>";
  window.searchIcon = "<%= image_url('search-icon.png') %>";
  window.errorIcon = "<%= image_url('error-icon.png') %>";
  window.dummyChannelPic = "<%= image_url('user-sym-green.png') %>";
  window.likesIcon = "<%= image_url('likes-icon.png') %>";
  window.dislikesIcon = "<%= image_url('dislikes-icon.png') %>";
  window.thumbnail = "<%= image_url('sample-thumbnail.jpg') %>";
  window.exitIcon = "<%= image_url('exit-icon.png') %>";
  window.uploadIcon = "<%= image_url('upload-icon.png') %>";
  window.deleteIcon = "<%= image_url('delete-icon.png') %>";
  window.uploadThumbnailIcon = "<%= image_url('upload-thumbnail-icon') %>";
</script>
<main id="root"></main>